<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
  <div id="account">
        <a href="account">
            <input type="image" src="/images/account.png" alt="Account" id="accountpic">
        </a>
  </div>
  <div class = "d-flex justify-content-center">
    <div class = "box">
          <h1 class="title">New Recipe</h1>
          <form action="">
              <label class="input">What would you like to cook:</label><br>
              <input type="text" id="dish" name="dish" value="{{dish}}"><br>
              <label class="input">Serving Size:</label><br>
              <input type="number" id="serving" name="serving" value="{{serving}}"><br><br>
              <label class="input">(Optional) Any specific ingredients? If multiple, separate with comma:</label><br>
              <input type="text" id="optional" name="optional" value="{{optional}}"><br><br>
              <!-- <input type="submit" value="Find Recipe!"> -->
              <center><p class="input">Found recipe!</p></center>
           
              </form>
            

            <div class = "buttons">
              <a href="#">
                <button class="button" id="findRecipe"></button>
              </a>
            </div>
    </div>
  </div>
  <div id="home">
    <a href="/index">
      <input type="image" src="/images/home_logo.png" alt="Home">
    </a>
  </div>
  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/recipename.js"></script>
</body>
</html>