<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
    <div class="container" id="container">
        <div class='item'>
          <div id="home">
              <a href="/index">
                <input id="transparent" width="80" height="70" type="image" src="/images/home_logo.png" alt="Home">
              </a>
          </div>
        </div>
        <div class='item push'>
            <div id="account">
                <a href="/account">
                    <input type="image" src="/images/account.png" alt="Account" id="accountpic">
                </a>
            </div>
        </div>
    </div>
    
    <br>
    <br>
    <div class = "d-flex justify-content-center align-items-center center">        
        <img  width="60" height="100" src="/images/main_logo.png" alt="Cooking Master" >
        <h1 class="title">Frequently Asked Questions</h1>
    </div>
    <div class = "d-flex justify-content-center align-items-center center" >   
    <script>

        function toggleElement(id)
        {
            if(document.getElementById(id).style.display == 'none')
            {
                document.getElementById(id).style.display = '';
            }
            else
            {
                document.getElementById(id).style.display = 'none';
            }
        }
    </script>
    <p>
        <ol>
            <li class="bold"><a href="javascript:toggleElement('a1')">How do I save my recipes?</a></li>
            <div id="a1" style="display:none">
                Once you find a recipe, click on the button that states, "Save Recipe". 
           </div>  
            <li class="bold"><a href="javascript:toggleElement('a2')">How do I find new recipes?</a></li>
            <div id="a2" style="display:none">
                Click on the "HOME" icon, then click on "New Recipes".
            </div>  
            <li class="bold"><a href="javascript:toggleElement('a3')">Where does this app get the recipes from?</a></li>
            <div id="a3" style="display:none">
                All of our recipes are from <a href="https://www.allrecipes.com" target="_blank">allrecipes.com</a>. It's a food-focused online social networking service.
            </div>  
            <li class="bold"><a href="javascript:toggleElement('a4')">How does this app do ingredient conversions?</a></li>
            <div id="a4" style="display:none">
                First, we extract the ingredient amounts from the recipe found from <a href="https://www.allrecipes.com" target="_blank">allrecipes.com</a>. <br>
                Then, we put the ingredients and original serving size into a recipe converter called, <a href="https://www.mykitchencalculator.com/recipeconverter.html" target="_blank">mykitchencalculator.com</a>.<br>
                Finally, we web scrape the new ingredient amounts from the converting website.
            </div> 
        </ol>
    </p>
   
    
        
    </div>
    <div id="question">
        <a href="/help">
            <input width="75px" height="75px" type="image" src="/images/question.png" alt="Question">
        </a>
    </div>

</body>
</html>