<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<div>
        <h1>Cooking Master</h1>
        <form action="newrecipe.handlebars">
            <button type="submit" value="NewRecipe">New Recipe</button>
        </form>
        <form action="savedrecipes.handlebars">
            <button type="submit" value="SavedRecipes">Saved Recipes</button>
        </form>
    </div>


</body>
</html>