<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>

    <div id="account">
        <a href="account">
            <input type="image" src="/images/account.png" alt="Account" id="accountpic">
        </a>
    </div>
	<div class="center">
        {{!-- <img src="/images/main_logo.png" alt="Cooking Master" > --}}
        <h1>Cooking Master</h1>
    </div>
    <div class="button-center">
        <a href="newrecipe">
            <button class="button" value="NewRecipe">New Recipe</button>
        </a>
        <br>
        <br>
        <a href="savedrecipes">
            <button class="button" value="SavedRecipes">Saved Recipes</button>
        </a>
    </div>
    <div id="home">
        <a href="index">
            <input type="image" src="/images/home_logo.png" alt="Home">
        </a>
    </div>

</body>
</html>