<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body class="loginpage">
    <br>
    <br>
    <br>
    <br>
    <div class = "d-flex justify-content-center align-items-center">
        <img class="loginLogo" src="/images/main_logo.png" alt="Cooking Master" ><h5 class="title loginTitle">Cooking Master</h5>
    </div>

    <div class = "d-flex justify-content-center align-items-center center">
        <h4 id="signinwords" class="title">Sign in to continue</h4>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center align-items-center center">
        <div class="boxed d-flex justify-content-center align-items-center center">
			<p id="name" class="input"></p>
            {{!-- <a href=""> --}}
            <button class="button" id="signin" value="signin">Get Cooking!</button>
            {{!-- </a> --}}
			<p class="facebookLogin input">
				Please login through Facebook <br>
				<center><fb:login-button scope="public_profile,email" class="fbloginbutton" onlogin="checkLoginState();">
				</fb:login-button></center>
			</p>

            <div id="facebookPhoto" class="profile">
                <img id="photo" class='img-responsive' src="" />
            </div>

        </div>
    </div>

</body>
</html>