<!doctype html>

<html>
<head>
	<title>Cooking Master</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body>
  <div class = "d-flex justify-content-center">
	<div class = "box">
        <h1 style = "font-family: 'Satisfy', cursive;color:lightblue">New Recipe</h1>
        <form action="">
            <label style = "font-family: 'Patrick Hand';"href="newrecipe">What would you like to cook:</label><br>
            <input type="text" id="dishName"><br>
            <label style = "font-family: 'Patrick Hand';"href="newrecipe">Serving Size:</label><br>
            <input type="number" id="servingSize"><br><br>
            <label style = "font-family: 'Patrick Hand';"href="newrecipe">(Optional) Any specific ingredients? If multiple, separate with comma:</label><br>
            <input type="text" id="specialIngredients"><br><br>
            <!-- <input type="submit" value="Find Recipe!"> -->
          </form> 
          <div class = "buttons">
          <a href="/" >
            <button style="font-family: 'Patrick Hand';background-color:#00E500;" value="home">Home</button>
          </a>
          </div>
          <div class = "buttons">
          <a href="recipe">
            <button style="font-family: 'Patrick Hand';background-color:#00E500" value="recipe">Find Recipe</button>
        </a>
      </div>
      </div>
    </div>
</body>
</html>