
body {
    color:black;
}

.box {
	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	width: 200px;
  	align-content: center;

}

.buttons {
	align-self: center;

}

.title {
    font-family: 'Satisfy';
}

.center {
    flex-direction: column;
  }

.input {
    font-family: 'Patrick Hand'; 
}

.button {
    font-family: 'Patrick Hand';
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black; 
    color: white;
  }

#accountpic {
    width:50px;
    height: 50px;
}

#account {
    position: relative;
}
#account input {
    position: absolute;
    top: 0px;
    right: 0px;
}

#home {
    position: fixed;
    bottom: 0;
    left: 0;
}

