
.saved_recipe_buttons{
    display:inline-block;
    white-space:normal;  
    margin: 0;
    padding: 0;
}
.swd-button {
	color: white;
    display: inline-block;
}

body {
    color:black;
}
input#image-button{
    background: #ccc url('pumpkin_pie.png') no-repeat top left;
    padding-left: 16px;
    height: 70px;
}
#pie_button,#saveForm {
    display:inline-block;
}

.box {
	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	width: 200px;
  	align-content: center;

}

.buttons {
	align-self: center;
}

.title {
    font-family: 'Satisfy';
}

.center {
    flex-direction: column;
  }

.input {
    font-family: 'Patrick Hand'; 
}

.button {
    font-family: 'Patrick Hand';
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
}

.saved_recipe_buttons{
    display:inline-block;
    white-space:normal;  
    margin: 0;
    padding: 0;
}
.button:hover {
    background-color: black; 
    color: white;
  }

#accountpic {
    width:50px;
    height: 50px;
}

#account {
    position: relative;
}
#account input {
    position: absolute;
    top: 0px;
    right: 0px;
}

#home {
    position: fixed;
    bottom: 0;
    left: 0;
}

.loginpage {
    background-image: url("/images/newloginbackgrnd.png");
    background-repeat: no-repeat;
    background-size: 100% 115%;
    width: 100%;
    height: 600px;
}

.loginTitle {
    display: inline;
}

.loginLogo {
    width: 5%;
    height: 3%;
}

.boxed {
    background-color: white;
    width: 350px;
    height:300px;    
    padding: 25px;
    /* border: 2px solid black; */
   /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;   Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   /* -moz-box-shadow:    3px 3px 5px 6px #ccc;   Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;    
}

.saved_recipe_buttons{
    display:inline-block;
    white-space:normal;  
    margin: 0;
    padding: 0;
}